___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [3]:
from numpy.random import randn
np.random.seed(101)

In [14]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [15]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [7]:
# Pass a list of column names
df[['W','Z','Y']]

          W         Z         Y
A  0.302665 -1.159119 -1.706086
B -0.134841  0.184502  0.166905
C  0.807706  0.329646  0.638787
D -0.497104  0.484752 -0.943406
E -0.116773  1.996652  0.238127

In [8]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

DataFrame Columns are just Series

In [9]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [17]:
df['new'] = df['W'] + df['Y']

In [18]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -2.129908
B  1.025984 -0.156598 -0.031579  0.649826  0.994405
C  2.154846 -0.610259 -0.755325 -0.346419  1.399521
D  0.147027 -0.479448  0.558769  1.024810  0.705796
E -0.925874  1.862864 -1.133817  0.610478 -2.059691

** Removing Columns**

In [19]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [ ]:
# Not inplace unless specified!
df

In [21]:
df.drop('new',axis=1,inplace=True)

In [22]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Can also drop rows this way:

In [23]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

** Selecting Rows**

In [24]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

Or select based off of position instead of label

In [25]:
df.iloc[0]

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

** Selecting subset of rows and columns **

In [26]:
df.loc['B','Y']

np.float64(-0.031579143908112575)

In [27]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [28]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [29]:
df>0

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True

In [30]:
df[df>0]

          W         X         Y         Z
A       NaN  0.196800       NaN  0.000366
B  1.025984       NaN       NaN  0.649826
C  2.154846       NaN       NaN       NaN
D  0.147027       NaN  0.558769  1.024810
E       NaN  1.862864       NaN  0.610478

In [32]:
df[df['W']>0]

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [35]:
df[df['W']>0][['Y','X']]

          Y         X
B -0.031579 -0.156598
C -0.755325 -0.610259
D  0.558769 -0.479448

For two conditions you can use | and & with parenthesis:

In [37]:
df[(df['W']>0) & (df['Y'] > 0)]

          W         X         Y        Z
D  0.147027 -0.479448  0.558769  1.02481

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [38]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [39]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A -0.993263  0.196800 -1.136645  0.000366
1     B  1.025984 -0.156598 -0.031579  0.649826
2     C  2.154846 -0.610259 -0.755325 -0.346419
3     D  0.147027 -0.479448  0.558769  1.024810
4     E -0.925874  1.862864 -1.133817  0.610478

In [40]:
newind = 'CA NY WY OR CO'.split()

In [41]:
df['States'] = newind

In [42]:
df

          W         X         Y         Z States
A -0.993263  0.196800 -1.136645  0.000366     CA
B  1.025984 -0.156598 -0.031579  0.649826     NY
C  2.154846 -0.610259 -0.755325 -0.346419     WY
D  0.147027 -0.479448  0.558769  1.024810     OR
E -0.925874  1.862864 -1.133817  0.610478     CO

In [43]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.993263  0.196800 -1.136645  0.000366
NY      1.025984 -0.156598 -0.031579  0.649826
WY      2.154846 -0.610259 -0.755325 -0.346419
OR      0.147027 -0.479448  0.558769  1.024810
CO     -0.925874  1.862864 -1.133817  0.610478

In [44]:
df

          W         X         Y         Z States
A -0.993263  0.196800 -1.136645  0.000366     CA
B  1.025984 -0.156598 -0.031579  0.649826     NY
C  2.154846 -0.610259 -0.755325 -0.346419     WY
D  0.147027 -0.479448  0.558769  1.024810     OR
E -0.925874  1.862864 -1.133817  0.610478     CO

In [45]:
df.set_index('States',inplace=True)

In [46]:
df

               W         X         Y         Z
States
CA     -0.993263  0.196800 -1.136645  0.000366
NY      1.025984 -0.156598 -0.031579  0.649826
WY      2.154846 -0.610259 -0.755325 -0.346419
OR      0.147027 -0.479448  0.558769  1.024810
CO     -0.925874  1.862864 -1.133817  0.610478

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [47]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [48]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [49]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.386030  2.084019
   2 -0.376519  0.230336
   3  0.681209  1.035125
G2 1 -0.031160  1.939932
   2 -1.005187 -0.741790
   3  0.187125 -0.732845

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [50]:
df.loc['G1']

          A         B
1  0.386030  2.084019
2 -0.376519  0.230336
3  0.681209  1.035125

In [51]:
df.loc['G1'].loc[1]

A    0.386030
B    2.084019
Name: 1, dtype: float64

In [54]:
df.index.names

FrozenList(['Group', 'Num'])

In [53]:
df.index.names = ['Group','Num']

In [60]:
df

                  A         B
Group Num
G1    1    0.386030  2.084019
      2   -0.376519  0.230336
      3    0.681209  1.035125
G2    1   -0.031160  1.939932
      2   -1.005187 -0.741790
      3    0.187125 -0.732845

In [59]:
df.xs('G1')

            A         B
Num
1    0.386030  2.084019
2   -0.376519  0.230336
3    0.681209  1.035125

In [61]:
df.xs(('G1',1))

A    0.386030
B    2.084019
Name: (G1, 1), dtype: float64

In [62]:
df.xs(1,level='Num')

             A         B
Group
G1     0.38603  2.084019
G2    -0.03116  1.939932

# Great Job!